@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');


body {
    background-image: url(test.jpg);
}

.main {
    margin: auto;
    width: 920px;
}
h1 {
    color: antiquewhite;

}
h2 {
    color: antiquewhite;

}
p {
    color: antiquewhite;

}